---
import { Sprite } from 'astro-icon'
import Sections from '@src/layouts/Sections.astro'
import skillIconData from '@data/icons.json'
---

<Sections>
  <article
    class="mx-auto flex min-h-[15rem] w-full flex-col items-center justify-center overflow-hidden"
  >
    <div class="h-40 icon_container xl:opacity-0">
      <div class="boxes relative left-[50px]">
        <div class="icon-container flex">
          {skillIconData.map((iconName) => <Sprite name={iconName} class="box w-14 text-xl" />)}
        </div>
      </div>
    </div>
  </article>
</Sections>

<script src="../../../animation/animateSkill.ts"></script>
