---
import { Sprite } from 'astro-icon'
import Sections from '@src/layouts/Sections.astro'
---

<Sections>
	<article
		class="flex min-h-[15rem] w-full flex-col items-center justify-center gap-10 rounded-2xl"
	>
		<h2 class="text-center text-xl text-primary_gray">Rád pracuji s nástroji a technologiemi</h2>
		<section class="flex flex-wrap items-center justify-center gap-16">
			<Sprite name="vscode-icons:file-type-astro" class="astro-icon" />
			<Sprite name="vscode-icons:file-type-reactjs" class="astro-icon" />
			<Sprite name="file-icons:nextjs" class="astro-icon" />
			<Sprite name="vscode-icons:file-type-tailwind" class="astro-icon" />
			<Sprite name="vscode-icons:file-type-styled" class="astro-icon" />
			<Sprite name="vscode-icons:file-type-sass" class="astro-icon" />
		</section>
	</article>
</Sections>

<style>
	.astro-icon {
		width: 3rem;
		height: 3rem;
	}
</style>
