---
import { Sprite } from 'astro-icon'
import Sections from '@src/layouts/Sections.astro'
import skillIconData from '@data/icons.json'
---

<Sections>
  <article class="mx-auto flex h-[15rem] w-full flex-col items-center justify-center xl:w-2/4 overflow-hidden">
    <h2 class="text-center text-2xl font-bold uppercase text-accent_1">
      Nauč se každý den něco nového
    </h2>
    <div class="wrapper h-40">
      <div class="boxes relative left-[50px]">
        <div class="icon-container flex">
          {skillIconData.map((iconName) => <Sprite name={iconName} class="w-12 text-4xl box" />)}
        </div>
      </div>
    </div>
  </article>
</Sections>



<script src="./animateSkill.ts"></script>
