<ul class="flex items-center gap-4 text-sm text-gray-500">
  <li class="flex items-center gap-2">
    <p>Jdu do hloubky</p>
    <span class="inline-block h-2 w-2 rounded-full bg-green-400"></span>
  </li>
  <li class="flex items-center gap-2">
    <p>Už znám</p>
    <span class="inline-block h-2 w-2 rounded-full bg-orange-400"></span>
  </li>
  <li class="flex items-center gap-2">
    <p>Učím se...</p>
    <span class="inline-block h-2 w-2 rounded-full bg-gray-400"></span>
  </li>
</ul>
