---
import Sections from '@layouts/Sections.astro'
import SortSkills from './SortSkills'
import { Image } from 'astro:assets'
import PrimaryTitle from '../ui/PrimaryTitle.astro'
import PrimaryText from '../ui/PrimaryText.astro'
import Avatar from '@assets/nimixx.png'
import Background from '@assets/heroIII.jpg'
import { BIO_TEXT, SKILL_TEXT } from '@src/consts'
---

<Sections class="mx-auto w-full md:w-3/4">
  <section
    class="bg-avatar-pattern block h-36 w-36 overflow-hidden rounded-xl bg-cover bg-center bg-no-repeat shadow shadow-primary_dark duration-1000 animate-in fade-in"
  >
    <Image
      format="avif"
      quality="low"
      width={800}
      height={600}
      src={Avatar}
      alt=""
      class="mb-2 h-full w-full rounded-2xl object-cover"
    />
  </section>
  <PrimaryTitle class="text-2xl" title="Kdo jsem" />
  <PrimaryText class="text-lg" content={BIO_TEXT} />
  <PrimaryTitle class="text-2xl" title="Můj stuck" />
  <PrimaryText class="text-lg" content={SKILL_TEXT} />
  <SortSkills client:visible />
</Sections>
