---
import Sections from '@layouts/Sections.astro'
import Spacer from '../ui/Spacer.astro'
---

<Sections class="h-full w-full md:mx-auto">
  <section class="flex w-full items-start justify-between gap-16">
    <article class="bg-red-40 flex w-1/2 flex-col justify-start gap-8 overflow-hidden">
      <section class="hidden h-[27rem] xl:relative xl:block">
        <img
          src="./base_layer_ui.svg"
          alt="hero illustration of website"
          class="base_layer w-[40rem] opacity-0"
        />
        <img src="./upper_rectangle_ui.svg" alt="" class="rectangle_1 absolute -top-96 opacity-0" />
        <img
        src="./right_rectangle_ui.svg"
        alt=""
        class="rectangle_2 absolute -right-96 top-0 opacity-0"
      />
      <img src="./circle_ui.svg" alt="" class="circle absolute top-64 rotate-180 opacity-0" />
      </section>
      <h2 class="text-8xl font-bold">Design</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem dolore nam doloribus eius
        ipsa rem ullam eveniet. Adipisci vel vitae explicabo velit consequatur voluptate provident
        laboriosam nesciunt. Recusandae, optio odit.
      </p>
      <h3 class="text-4xl font-bold">TechStuck</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque qui animi minus!
        Consequuntur excepturi officia quia possimus provident tempora pariatur voluptatibus modi,
        ea molestias odio quibusdam debitis rem cum veritatis.
      </p>
    </article>
    <Spacer class="h-full w-0 border-r" />
    <article class="flex w-1/2 flex-col justify-start gap-8 overflow-hidden">
      <section class="hidden h-[27rem] xl:relative xl:block">
        <img
          src="./base_layer.svg"
          alt="hero illustration of website"
          class="base_layer w-[40rem] opacity-0"
        />
        <img src="./upper_rectangle.svg" alt="" class="rectangle_1 absolute -top-96 opacity-0" />
        <img
          src="./right_rectangle.svg"
          alt=""
          class="rectangle_2 absolute -right-96 top-0 opacity-0"
        />
        <img src="./circle.svg" alt="" class="circle absolute top-64 rotate-180 opacity-0" />
      </section>
      <h2 class="text-8xl font-bold">FrontEnd</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem dolore nam doloribus eius
        ipsa rem ullam eveniet. Adipisci vel vitae explicabo velit consequatur voluptate provident
        laboriosam nesciunt. Recusandae, optio odit.
      </p>
      <h3 class="text-4xl font-bold">TechStuck</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque qui animi minus!
        Consequuntur excepturi officia quia possimus provident tempora pariatur voluptatibus modi,
        ea molestias odio quibusdam debitis rem cum veritatis.
      </p>
    </article>
  </section>
</Sections>

<script src="../../animation/animateHero.ts"></script>
