---
import Sections from '@layouts/Sections.astro'
import SortSkills from './SortSkills.astro'
import { Image } from 'astro:assets'
import PrimaryTitle from '../ui/PrimaryTitle.astro'
import PrimaryText from '../ui/PrimaryText.astro'
import Avatar from '@assets/nimixx.png'
import AboutSkills from './AboutSkills.astro'
import { BIO_TEXT, SKILL_TEXT } from '@src/consts'
---

<Sections class="mx-auto w-4/5">
  <section
    class="block h-36 w-36 overflow-hidden rounded-xl border border-primary_light bg-primary_light/30 shadow shadow-primary_dark"
  >
    <Image
      format="avif"
      quality="low"
      width={800}
      height={600}
      src={Avatar}
      alt=""
      class="mb-2 h-full w-full rounded-2xl object-cover"
    />
  </section>
  <PrimaryTitle class="text-2xl" title="Kdo jsem" />
  <PrimaryText class="max-w-2xl text-lg" content={BIO_TEXT} />
  <PrimaryTitle class="text-2xl" title="Můj stuck" />
  <PrimaryText class="text-lg" content={SKILL_TEXT} />
  <SortSkills />
  <AboutSkills />
  <PrimaryTitle class="text-2xl" title="Můj stuck" />
</Sections>
