---
// Data
import { BIO_TEXT, SKILL_TEXT } from '@src/consts'
// Assets
import Avatar from '@assets/nimixx.png'
// Components
import Sections from '@layouts/Sections.astro'
import SortSkills from './Skills-React/SortSkills'
import PrimaryTitle from '../ui/PrimaryTitle.astro'
import PrimaryText from '../ui/PrimaryText.astro'
// Utils
import { Image } from 'astro:assets'
---

<Sections class="w-full md:mx-auto md:w-3/4">
  <section class="fadeIn h-36 w-36 rounded-md bg-avatar-pattern bg-cover bg-center bg-no-repeat">
    <Image format="avif" quality="low" width={800} height={600} src={Avatar} alt="Creator avatar" />
  </section>
  <article class="space-y-4">
    <PrimaryTitle>Kdo jsem</PrimaryTitle>
    <PrimaryText >{BIO_TEXT}</PrimaryText>
    <PrimaryTitle>Můj stuck</PrimaryTitle>
    <PrimaryText>{SKILL_TEXT}</PrimaryText>
  </article>
  <SortSkills client:visible />
</Sections>
