---
export const SignalSkill = [
  { label: 'Jdu do hloubky', color: 'bg-lime-300' },
  { label: 'Už znám', color: 'bg-orange-500' },
  { label: 'Učím se...', color: 'bg-gray-600' }
]
---

<article class="flex w-full items-center justify-center">
  <ul class="flex items-center gap-4 text-sm text-gray-500">
    {
      SignalSkill.map((skill) => (
        <li class="flex items-center justify-center gap-2">
          <p>{skill.label}</p> <span class={`h-2 w-2 rounded-full ${skill.color}`} />
        </li>
      ))
    }
  </ul>
</article>
