---
import skillsData from '@data/Skills.json'
const strengthOrder = {
  strong: 1,
  medium: 2,
  low: 3
}
const sortedSkillsData = skillsData.map((category) => ({
  ...category,
  skills: category.skills.sort(
    (a, b) =>
      strengthOrder[a.strength as keyof typeof strengthOrder] -
      strengthOrder[b.strength as keyof typeof strengthOrder]
  )
}))
---

<section class="grid w-full grid-cols-1 gap-6 pt-2 md:grid-cols-2 lg:grid-cols-4">
  {
    sortedSkillsData.map((category) => (
      <article
        id="skill_cards"
        class="w-full rounded-xl border border-primary_light bg-primary_light/20 p-4"
      >
        <h4 class="mb-2 font-bold text-gray-300 duration-1000 animate-in fade-in">
          {category.title}
        </h4>
        <hr class="my-2 w-full border-b-0 border-primary_light" />
        <ul class="text-secondary_text duration-1000 animate-in fade-in">
          {category.skills.map((skill) => (
            <li class="flex items-center gap-2">
              <p
                class={`${skill.strength === 'strong' && 'font-bold text-secondary'} ${
                  skill.strength === 'medium' && 'font-semibold'
                } ${skill.strength === 'low' && 'font-thin text-gray-500'}`}
              >
                {skill.name}
              </p>
              <span
                class={`inline-block h-2 w-2 rounded-full ${
                  skill.strength === 'strong'
                    ? 'bg-lime-300'
                    : skill.strength === 'medium'
                    ? 'bg-orange-500'
                    : 'bg-gray-600'
                }`}
              />
            </li>
          ))}
        </ul>
      </article>
    ))
  }
</section>
