@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 16 10 33;
    --color-primary-light: 50 41 75;
    --color-primary-dark: 16 10 33;
    --color-primary-text: 232 231 235;
    --color-secondary-text: 141 136 155;
    --color-accent: 141 136 155;
    --color-accent2: 229 219 225;
    --color-accent3: 29 153 247;
    --color-success: 99 230 190;
  }
  :root[data-theme='fialová'] {
    --color-primary: 16 10 33;
    --color-primary-light: 50 41 75;
    --color-primary-dark: 16 10 33;
    --color-primary-text: 232 231 235;
    --color-secondary-text: 141 136 155;
    --color-accent: 145 118 153;
    --color-accent2: 208 141 226;
    --color-accent3: 196 119 218;
    --color-success: 99 230 190;
  }
  :root[data-theme='modrá'] {
    --color-primary: 13 16 41;
    --color-primary-light: 23 28 65;
    --color-primary-dark: 8 11 29;
    --color-primary-text: 232 231 235;
    --color-secondary-text: 136 141 179;
    --color-accent: 136 141 179;
    --color-accent2: 119 131 228;
    --color-accent3: 176 190 255;
    --color-success: 99 230 190;
  }
  :root[data-theme='šedivá'] {
    --color-primary: 27 27 34;
    --color-primary-light: 49 49 63;
    --color-primary-dark: 20 20 24;
    --color-primary-text: 232 231 235;
    --color-secondary-text: 135 135 153;
    --color-accent: 82 82 95;
    --color-accent2: 184 184 212;
    --color-accent3: 123 123 138;
    --color-success: 99 230 190;
  }
}

.color {
    color: rgb(27, 27, 34);
    color: rgb(49, 49, 63);
    color: rgb(20, 20, 24);
    color: rgb(135, 135, 153);
    color: rgb(82, 82, 95);
    color: rgb(184, 184, 212);
    color: rgb(123, 123, 138);
}