---
import Sections from '@src/layouts/Sections.astro'
import PrimaryTitle from '@src/components/ui/PrimaryTitle.astro'
import PrimaryText from '@src/components/ui/PrimaryText.astro'
import HyperLink from '../../ui/HyperLink.astro'
---

<Sections class="min-h-[35rem] xl:min-h-[45rem]">
  <section class="relative flex flex-col xl:items-center justify-between gap-10 lg:flex-row">
    <article class="flex flex-col items-start space-y-6">
      <section class="relative w-full">
        <PrimaryTitle
          class="xl:max-w-lg text-6xl md:text-8xl font-extrabold uppercase"
        >
          FrontEnd<br />developer
        </PrimaryTitle>
        <div class="w-64 h-24 lg:h-40 bg-pattern bg-no-repeat bg-cover -z-10 opacity-30 absolute -top-5 -left-2 xl:-left-10"></div>
      </section>
      <PrimaryText class="max-w-lg pb-4">
        Vytvářím webové stránky & aplikace od základu. Nejraději pracuji s frameworky jako je <strong
          class="text-orange-400">Astro</strong
        >, <strong class="text-sky-400">React</strong>. Zároveň ale sleduju moderní trendy a rád se
        učím. Zájímám se také o UI/UX a baví mě moderní design .
      </PrimaryText>
      <HyperLink href="/bio" class="bio_link relative flex items-center">
        <div class="bg-hero_ball ball absolute mr-2 h-16 w-16 rounded-full"></div>
        <p class="relative px-6 py-4 text-4xl font-bold uppercase">Kdo vlastně jsem?</p>
      </HyperLink>
    </article>
    <section class="hidden lg:relative lg:block">
      <img
        src="./hero.svg"
        alt="hero illustration of website"
        class="base_layer w-[40rem] opacity-0"
      />
    </section>
  </section>
</Sections>

<script src="../../../animation/animateHero.ts"></script>
