---
import Sections from "@src/layouts/Sections.astro";
---

<Sections>
  <article
    class="w-full h-96 rounded-2xl bg-gradient-to-t from-primary_black/50 via-zinc-900 to-primary_black/50 flex justify-center items-center flex-col gap-4 p-4"
  >
    <h2 class="text-4xl md:text-6xl font-bold text-center">Najmi mně</h2>
    <p class="text-xl md:text-2xl text-gray-400 text-center">
      Postavím ti jednoduchý web & aplikaci
    </p>
    <button
      class="px-6 py-4 bg-white text-primary_black rounded-lg text-xl font-medium"
      >Kontaktní formulář</button
    >
  </article>
</Sections>
