---
// Import Components
import { project } from '@components/hooks/fetchProject'
// Utils
import { Image } from 'astro:assets'
// Constants
const slicedPosts = project.slice(0, 6)
---

<ul
  class="grid w-full grid-cols-1 overflow-hidden rounded-lg md:grid-cols-2 lg:grid-cols-3"
>
  {
    slicedPosts.map((project) => (
      <li class="bg-primary_light/40transition-all h-full w-full duration-500 hover:bg-primary_light/60 last_projects translate-y-full opacity-0">
        <a href={`/project/${project.slug}/`} class="flex flex-col gap-4 project_link group">
          <section class="relative h-52 w-full overflow-hidden group">
            <Image
              format="avif"
              quality="mid"
              width={1280}
              height={720}
              src={project.data.heroImage}
              alt=""
              class="h-full w-full object-cover group-hover:scale-125 group-hover:rotate-3 transition-transform duration-300"
            />
          </section>
        </a>
      </li>
    ))
  }
</ul>

<script src="../../../animation/animateProject.ts"></script>