---
// Import Components
import { project } from '@components/hooks/fetchProject'
import FormattedDate from '@src/components/ui/FormattedDate.astro'
// Utils
import { Image } from 'astro:assets'
// Constants
const slicedPosts = project.slice(0, 6)
---

<ul
  class="fadeIn grid w-full grid-cols-1 overflow-hidden rounded-lg outline outline-8 outline-primary_light shadow-md shadow-primary_dark md:grid-cols-2 lg:grid-cols-3"
>
  {
    slicedPosts.map((project) => (
      <li class="bg-primary_light/40transition-all h-full w-full duration-500 hover:bg-primary_light/60 ">
        <a href={`/project/${project.slug}/`} class="flex flex-col gap-4">
          <section class="relative h-52 w-full overflow-hidden group">
            <Image
              format="avif"
              quality="mid"
              width={1280}
              height={720}
              src={project.data.heroImage}
              alt=""
              class="h-full w-full object-cover"
            />
            <article
              class="absolute left-0 top-0 flex h-full w-full flex-col items-center justify-center gap-2 bg-primary_dark/60 group-hover:bg-primary_dark/20 transition-all duration-500"
            >
              <h4 class="text-center text-4xl font-bold ">{project.data.title}</h4>
              <p class="text-secondary text-center text-accent_1">
                <FormattedDate date={project.data.pubDate} />
              </p>
            </article>
          </section>
        </a>
      </li>
    ))
  }
</ul>
