---
// Data
import { COPYRIGHT } from '@src/consts'
// Components
import SocialList from '../ui/SocialList.astro'
---

<footer
  class="mt-auto flex py-10 w-full flex-col md:flex-row items-center justify-center gap-4 text-accent_1"
>
  <p>{COPYRIGHT}</p>
  <SocialList iconClass="w-4 h-4" listClass="flex" />
</footer>
