---
//Import data
import { COPYRIGHT } from '@src/consts'
//Import components
import SocialList from '../ui/SocialList.astro'
---

<footer
  class="mt-auto flex min-h-[10rem] w-full flex-col items-center justify-center gap-4 text-primary_gray"
>
  <p>{COPYRIGHT}</p>
  <SocialList iconClass="w-4 h-4 text-primary_gray" listClass="flex" />
</footer>
