---
// Import Components
import { posts } from '@components/hooks/fetchPosts'
import FormattedDate from '@src/components/ui/FormattedDate.astro'
// Constants
const slicedPosts = posts.slice(0, 3)
// Utils
import { Image } from 'astro:assets'
---

<ul
  class="grid w-full grid-cols-1 gap-6 pt-2 fadeIn md:grid-cols-2 lg:grid-cols-3"
>
  {
    slicedPosts.map((post) => (
      <li class="h-24 w-full overflow-hidden rounded-lg outline outline-2 bg-primary_light/20 hover:bg-primary_light/40 outline-primary_light transition-colors duration-200 shadow-md shadow-primary_dark last_post translate-y-full opacity-0">
        <a href={`/blog/${post.slug}/`} class="flex">
          <section class="relative h-24 w-24">
            <Image
              format="avif"
              quality="low"
              width={1280}
              height={720}
              src={post.data.heroImage}
              alt=""
              class="absolute bottom-0 left-0 right-0 top-0 h-full w-full object-cover"
            />
          </section>
          <article class="flex w-3/4 flex-col items-center justify-center">
            <p class="text-center text-sm font-medium text-zinc-400 post_date opacity-0">
              <FormattedDate date={post.data.pubDate} />
            </p>
            <h4 class="text-center text-xl font-medium post_title opacity-0">{post.data.title}</h4>
          </article>
        </a>
      </li>
    ))
  }
</ul>

<script src="../../../animation/animatePost.ts"></script>