---
// Import Components
import { posts } from '@components/hooks/fetchPosts'
import FormattedDate from '@src/components/ui/FormattedDate.astro'
// Constants
const slicedPosts = posts.slice(0, 3)
// Utils
import { Image } from 'astro:assets'
---

<ul class="fadeIn grid w-full grid-cols-1 gap-6 pt-2 md:grid-cols-2 lg:grid-cols-3">
  {
    slicedPosts.map((post) => (
      <li class="last_post h-24 w-full translate-y-full overflow-hidden bg-primary_light/20 rounded-lg opacity-0 shadow-md shadow-primary_dark outline outline-1 outline-accent_3/10 transition-colors duration-200 hover:bg-primary_light/40">
        <a href={`/blog/${post.slug}/`} class="flex">
          <section class="relative h-24 w-24">
            <Image
              format="avif"
              quality="low"
              width={1280}
              height={720}
              src={post.data.heroImage}
              alt=""
              class="absolute bottom-0 left-0 right-0 top-0 h-full w-full object-cover"
            />
          </section>
          <article class="flex w-3/4 flex-col items-center justify-center">
            <p class="post_date text-center text-sm font-medium text-zinc-400 opacity-0">
              <FormattedDate date={post.data.pubDate} />
            </p>
            <h4 class="post_title text-center text-xl font-medium opacity-0">{post.data.title}</h4>
          </article>
        </a>
      </li>
    ))
  }
</ul>

<script src="../../../animation/animatePost.ts"></script>
