---
import '../styles/index.css'
import '../styles/theme.css'

import BaseHead from '@src/components/seo/BaseHead.astro'
import Header from '@components/header/Header.astro'
import Footer from '@components/footer/Footer.astro'
import BtnTop from '@src/components/ui/BtnTop.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import SpriteProvider from 'node_modules/astro-icon/lib/SpriteProvider.astro'

const title = Astro.props.title || `${SITE_TITLE} - Osobní web & blog`
---

<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead title={title} description={SITE_DESCRIPTION} />
  </head>
  <body class="relative flex min-h-screen w-full flex-col bg-primary font-sans text-primary_text debug-screens">
    <SpriteProvider>
      <Header />
      <main class="flex flex-1 overflow-hidden">
        <slot />
      </main>
      <Footer />
      <BtnTop />
    </SpriteProvider>
  </body>
</html>
