---
type Props = {
  class?: string
}

import { twMerge } from 'tailwind-merge'

const { class: AstroClass } = Astro.props
---

<section class={twMerge('mx-auto w-full px-5 xl:w-2/3 xl:px-0', AstroClass)}>
  <slot />
</section>
