---
import ThemeRadios from './ThemeRadios.astro'
---

<section class="flex flex-col justify-start items-start gap-4 text-accent_1">
  <h3 class="text-accent_2 text-lg font-semibold">Barevné schéma</h3>
  <ThemeRadios />
  <p class="italic">Nastavení barevného schématu pro celou aplikaci</p>
</section>

<script src="../hooks/useSetTheme.ts"></script>