---
import RadioBtn from './RadioBtn.astro'
---

<Fragment>
  <sections>
    <section class="flex gap-4 px-4 py-2 border border-primary_light rounded-xl justify-center items-center">
      <RadioBtn id="purple" name="theme" value="fialov치" />
      <RadioBtn id="blue" name="theme" value="modr치" radioColor="bg-blue-600/20 border-blue-600" />
      <RadioBtn id="gray" name="theme" value="코ediv치" radioColor="bg-gray-600/20 border-gray-600" />
    </section>
  </section>
</Fragment>

