---

---

<aside
  class="2xl:fixed left-0 top-0 flex h-full 2xl:w-[22%] flex-col 2xl:border-r border-primary_light bg-primary_light/20 p-4 2xl:p-10 mt-10 2xl:mt-0"
>
  <section class="2xl:mt-16">
    <slot />
  </section>
</aside>
