---

---

<aside
  class="left-0 top-0 mt-10 flex h-full flex-col border-primary_light bg-primary_light/20 p-4 duration-300 animate-in slide-in-from-left 2xl:fixed 2xl:mt-0 2xl:w-[23%] 2xl:border-r 2xl:p-10"
>
  <section id="aside_links" class="pt-4 2xl:pt-16">
    <slot />
  </section>
</aside>
