---
---

<button id="copy_btn" class=" block rounded-lg bg-primary/40 px-6 py-4 text-xl font-medium text-primary_black border border-secondary/30 hover:bg-primary/60 transition-colors duration-200 ease-in-out focus:bg-secondary/10"
  >Kopírovat email
</button>

<script>

    
  const copyEmail = 'tadeasthelen@proton.me'

  const button = document.querySelector('#copy_btn')
  if (button) {
    const originalText = button.textContent

    button.addEventListener('click', () => {
      const email = copyEmail
      navigator.clipboard
        .writeText(email)
        .then(() => {
          button.textContent = 'Email zkopírován'
          setTimeout(() => {
            button.textContent = originalText
          }, 3000)
        })
        .catch((error) => {
          console.error('Error copying email to clipboard:', error)
        })
    })
  } else {
    console.error('Button with ID "copy_btn" not found.')
  }
</script>
