---
// Type definitions
type Props = {
  class?: string
}
// Libraries imports
import { twMerge } from 'tailwind-merge'
// Props
const { class: AstroClass } = Astro.props
---

<h2 class={twMerge('text-xl text-secondary_text', AstroClass)}><slot /></h2>
