---
import HyperLink from "./HyperLink.astro";
import { Sprite } from "astro-icon";

const { iconClass: iconClass, ...props } = Astro.props;
const { listClass: listClass } = Astro.props;
---

<ul class:list={`gap-4 ${listClass}`}>
  <li>
    <HyperLink href="https://github.com/Nimixx" target="_blank">
      <Sprite name="simple-icons:github" class:list={[iconClass]} {...props} />
    </HyperLink>
  </li>
  <li>
    <HyperLink href="https://twitter.com/NimixxDev" target="_blank">
      <svg
        class:list={[iconClass]}
        {...props}
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        ><path
          fill="currentColor"
          d="M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584l-6.638 7.584H.474l8.6-9.83L0 1.154h7.594l5.243 6.932ZM17.61 20.644h2.039L6.486 3.24H4.298Z"
        ></path></svg
      >
    </HyperLink>
  </li>
  <li>
    <HyperLink href="https://www.linkedin.com/in/tadeasthelen/" target="_blank">
      <Sprite
        name="simple-icons:linkedin"
        class:list={[iconClass]}
        {...props}
      />
    </HyperLink>
  </li>
  <li>
    <HyperLink href="/">
      <Sprite name="simple-icons:youtube" class:list={[iconClass]} {...props} />
    </HyperLink>
  </li>
</ul>
