---
// Props
const { iconClass, listClass, settingClass } = Astro.props
// Data
import { SOCIAL_LINKS } from '@src/consts'
// Utils
import { twMerge } from 'tailwind-merge'
import { Sprite } from 'astro-icon'
// Components imports
import HyperLink from './HyperLink.astro'
---

<ul class:list={twMerge('gap-4 text-accent_1', listClass)}>
  {
    SOCIAL_LINKS.map((link) => (
      <li class="group cursor-pointer rounded-md p-1.5 outline outline-2 outline-transparent transition-all duration-300 hover:bg-primary_light hover:outline-accent_3/30">
        <HyperLink href={link.href} target="_blank">
          <Sprite
            name={link.icon}
            class={twMerge('h-5 w-5 transition-all duration-300 group-hover:text-white', iconClass)}
          />
        </HyperLink>
      </li>
    ))
  }
  <li class={twMerge('border-r border-accent_1/20', settingClass)}></li>
  <li
    class="group cursor-pointer rounded-md p-1.5 outline outline-2 outline-transparent transition-all duration-300 hover:bg-primary_light hover:outline-accent_3/30"
  >
    <HyperLink href="/settings">
      <Sprite
        name="mdi:cog-outline"
        class={twMerge(
          'h-5 w-5 transition-colors duration-300 group-hover:text-white',
          settingClass
        )}
      />
    </HyperLink>
  </li>
</ul>
