---
// Props
const { iconClass, listClass } = Astro.props
// Data
import { SOCIAL_LINKS } from '@src/consts'
// Utils
import { twMerge } from 'tailwind-merge'
import { Sprite } from 'astro-icon'
// Components imports
import HyperLink from './HyperLink.astro'

---

<ul class:list={twMerge('gap-4 text-gray-400', listClass)}>
	{SOCIAL_LINKS.map((link) => (
	  <li>
		<HyperLink href={link.href} target="_blank">
		  <Sprite
			name={link.icon}
			class={twMerge('w-5 h-5 hover:text-white transition-colors duration-300', iconClass)}
		  />
		</HyperLink>
	  </li>
	))}
  </ul>