---
// Props
const { iconClass, listClass, settingClass } = Astro.props
// Data
import { SOCIAL_LINKS } from '@src/consts'
// Utils
import { twMerge } from 'tailwind-merge'
import { Sprite } from 'astro-icon'
// Components imports
import HyperLink from './HyperLink.astro'
---

<ul class:list={twMerge('gap-4 text-accent_1', listClass)}>
  {
    SOCIAL_LINKS.map((link) => (
      <li class="group cursor-pointer rounded-md p-1.5 outline outline-2 outline-transparent hover:bg-primary_light hover:outline-accent_3/30 focus:bg-primary_light focus:outline-none focus:ring-2 focus:ring-primary_light focus:ring-opacity-50">
        <HyperLink href={link.href} target="_blank">
          <Sprite
            name={link.icon}
            class={twMerge(
              'h-5 w-5 group-focus-within:text-accent_3 group-hover:text-accent_3',
              iconClass
            )}
          />
        </HyperLink>
      </li>
    ))
  }
</ul>
