---
import { twMerge } from 'tailwind-merge'
import { Sprite } from 'astro-icon'
import tagIcons from './tagIcons.json'
const { tags, iconClass, class: astroClass } = Astro.props
---

<ul class={twMerge('flex items-center gap-4 text-gray-500', astroClass)}>
  {
    tags &&
      tags.map((tag: string) => {
        const icon = tagIcons[tag as keyof typeof tagIcons]
        if (icon) {
          return (
            <li>
              <Sprite name={icon} class={twMerge('h-6 w-6', iconClass)} />
            </li>
          )
        }
        return null
      })
  }
</ul>
